@import '../node_modules/startbootstrap-sb-admin-2/vendor/bootstrap/css/bootstrap.css';
@import '../node_modules/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css';
@import '../node_modules/startbootstrap-sb-admin-2/vendor/font-awesome/css/font-awesome.min.css';

.fa-chevron-up:hover{
    color: #D2691E;
    cursor: pointer;
}

.fa-chevron-down:hover{
    color: #D2691E;
    cursor: pointer;
}

.vote-score {
    font-size: 1.2em;
    font-weight: bold;
}

.positive-vote-score {
    color: #228B22;
}

.neutral-vote-score {
    color: #777777;
}

.negative-vote-score {
    color: #CD5C5C;
}

.comment-header {
    width: 20% !important;
}

.comment-body {
    width: 80% !important;
}

.author {
    font-size: 75%;
}

.author-area {
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 6%;
}